.button {
    display: block;
    margin-right: 40px;
    padding: 10px 20px;
    width: 133px;
    background-color: aqua;
    border: 1px solid black;
    border-radius: 5px;
}

.container {
    display: flex;
}